$font: 'TTNorms', sans-serif;
$white: #fff;
$black: #363636;
$light-black: #383838;
$gray: #ababab;
$gray-text: #4e4e4e;
$gray-bg: #f4f4f4;
$blue: #a0c5db;
$dark-blue: #4b94c6;
$box-shadow: rgba(216, 216, 216, 0.5);
$light-gray: #dfdfdf;
$dark-gray: #9a9a9a;
$border-gray: #d7d7d7;